doctype html
html(ng-app="app")
  head
    title= title
    //assets
    script(src="/app.min.js")
    link(rel="stylesheet" href="/app.min.css")
    //end assets
  body(ng-contoller="MainCtrl as main")
    block content
